.navbar {
  position: relative;
  max-width: 1512px;
  width: 100vw;
  height: 84px;
  padding: 1rem 3rem;
  display: flex;
  gap: 0px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-bar-bgcolor);
  width: 100%;
  color: var(--primary-bar-color);
  border-bottom: 1px solid #333333;
}

/* Mobile */
@media (max-width: 700px) {
  .navbar {
    max-width: 393px;
    height: 84px;
    padding: 1rem;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .navbar {
    max-width: 834px;
    height: 84px;
    padding: 1rem 3rem;
  }
}
