.link {
  width: fit-content;
  height: fit-content;
}

.card {
  position: relative;
  width: 100vw;
  height: 100vh;
  max-width: 172.5px;
  max-height: 245.97px;
  gap: 0px;
  border: 3px 0px 0px 0px;
  display: flex;
  flex-direction: column;
}

.photo {
  position: relative;
  width: 100vw;
  height: 100vh;
  max-width: 172.5px;
  max-height: 189.97px;
  gap: 0px;
  border-bottom: 4px;
  background-color: var(--background-photo-card);
}

.separator {
  position: absolute;
  width: 100vw;
  height: 100vh;
  max-width: 172.5px;
  max-height: 5.38px;
  gap: 0px;
  background-color: var(--marvel-red);
  bottom: 0;
}

.info {
  position: relative;
  width: 100vw;
  height: 100vh;
  max-width: 172.5px;
  max-height: 56px;
  padding: 16px 16px 24px 16px;
  gap: 0px;
}

.info::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background: var(--marvel-red);
  z-index: -1;
  transition-property: height;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

@media (hover: hover) and (pointer: fine) {
  .card:hover .info::after {
    height: 100%;
  }
}
