.infobar {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background: var(--primary-bar-bgcolor);
  color: var(--primary-bar-color);
  align-items: center;
  line-height: 16.41px;
  z-index: 1;
}

.corner {
  position: absolute;
  width: var(--corner-width, 12.86px);
  height: var(--corner-height, 12.86px);
  gap: 0px;
  bottom: 0;
  right: 0;
  background: linear-gradient(to bottom right, transparent 50%, #ffffff 50%);
  z-index: 2;
}
