:root {
  --max-width: 1100px;
  --border-radius: 12px;

  --font-weight: 400;
  --primary-font-color: #000000;
  --font-size: 16px;

  --primary-bar-bgcolor: #000000;
  --primary-bar-color: #ffffff;

  --marvel-red: #ec1d24;

  --background-photo-card: #d9d9d9;
}

* {
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-font-color) !important;
  font-size: 16px;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
