.main {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1512px;
  height: 982px;
  gap: 0px;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.content {
  position: relative;
  width: 100vw;
  max-width: 1512px;
  height: 966.91px;
  padding: 3rem 0;
  gap: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

@media (prefers-reduced-motion) {
}

/* Mobile */
@media (max-width: 700px) {
  .main {
    max-width: 393px;
    max-height: 852px;
    padding-bottom: 24px;
  }

  .content {
    max-width: 393px;
    max-height: 3014.68px;
    padding: 24px 0;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .main {
    width: 834px;
    max-height: 1194px;
  }

  .content {
    max-width: 834px;
    max-height: 1752.83px;
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
