.searchWrapper {
  position: relative;
  width: 100vw;
  max-width: 1512px;
  height: 77px;
  padding: 12px 48px;
  gap: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.results {
  position: relative;
  width: fit-content;
  height: fit-content;
  font-size: 12px;
  line-height: 14.06px;
  text-align: left;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .searchWrapper {
    max-width: 834px;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .searchWrapper {
    max-width: 393px;
    padding: 12px 16px;
  }
}
